.angry-grid {
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    gap: 1px;
    height: 100%;

}

#item-0 {

    background-color: #98FB9E;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;

}

#item-1 {

    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;

}

.button-grid {
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

    gap: 0px;
    height: 100%;

}

#button-0 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;

}

#button-1 {

    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;

}