
    <div class="container">
        <div class="headings">
            <div class="heading"> Coffee IP </div>
            <div class="sub-heading"> Historical LatteArt Oatmilk </div>
        </div>
        <div class="content">
            <div id="summary">
                <table>
                    <tr>
                        <td class="table-header">OAT.</td>
                        <td class="table-data">100%</td>
                    </tr>
                    <tr>
                        <td class="table-header">DRIVER</td>
                        <td class="table-data-sub">STEAM WAND LTD</td>
                    </tr>
                </table>
            </div>
            <div id="details">
                <div id="table-details">
                    <table>
                        <tr>
                            <td class="table-header-details">Designated Art Work</td>
                            <td class="table-data-details"> - </td>
                        </tr>
                        <tr>
                            <td class="table-header-details">Inter Measuring</td>
                            <td class="table-data-details"> $987,098 </td>
                        </tr>
                        <tr>
                            <td class="table-header-details">Pending Baking Biscuits</td>
                            <td class="table-data-details"> $7,098,876 </td>
                        </tr>
                        <tr>
                            <td class="table-header-total">Total H20</td>
                            <td class="table-data-total"> $876,354 </td>
                        </tr>
                    </table>
                </div>
                <div id="button-details">
                    <button> Adjust Limit </button>
                    <button> Show Detail </button>
                </div>
            </div>
        </div>
    </div>
