:host {
    display: flex;
  }

.container{
    display: flex;
    flex-flow: wrap column;  
    height: fit-content;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    flex-basis:800px;
    flex-grow: 1;
}

.headings{
    display: flex;
    border-style: solid;
    border-color:aqua;
    flex: 1 1 auto;
    flex-flow: wrap column;
    align-self: stretch;
    align-content: flex-start;
}

.heading{ 
    display: flex;
    flex: 1 1 auto;
}

.content{ 
    display: flex; 
    border-style: solid;
    border-color:blueviolet;
    flex: 4 1 auto;
    align-self: stretch;
    flex-flow: wrap column;
    row-gap: 5px;
}

#summary{
    border-style: solid;
    border-color: green;
    display: flex;
    flex-flow: wrap column;
    align-content: space-around;
    align-items: baseline;
    justify-content: center;
}

#details{
    border-style: solid;
    border-color: orange;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    column-gap: 10px;
}

#table-details{ 
    display: flex;
}

#button-details{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
}