<div class="container">
    <div class="headings">
        <h1>Heading I</h1>
        <h2>Heading II</h2>
    </div>
    <div class="content">
        <div id="summary">
            <table>
                <tr>
                    <th>HLK.</th>
                    <td>97.4%</td>
                </tr>
                <tr>
                    <th>Vroom Vroom</th>
                    <td>SlackBot</td>
                </tr>
            </table>
        </div>
        <div id="details">
            <div id="table-details">
                <table>
                    <tr>
                        <th>Designated Notice</th>
                        <td> - </td>
                    </tr>
                    <tr>
                        <th>Inter Proximate</th>
                        <td> $987,098 </td>
                    </tr>
                    <tr>
                        <th>Total PO</th>
                        <td> $876,354 </td>
                    </tr>
                </table>
            </div>
            <div id="button-details">
                <button> Adjust </button>
                <button> Summon Details </button>
            </div>
        </div>
    </div>

</div>