<div class="angry-grid">
    <div id="item-0">
        <div class="headings-grid">
            <div id="heading-0">
                <h1>Something something heading</h1>
            </div>
            <div id="heading-1">
                <h2>Something Subtitle</h2>
            </div>
            <div id="heading-2">
                <h3>HCOV</h3>
                <h3>number</h3>
            </div>
            <div id="heading-3">
                <h3>TOTAL PU</h3>
                <h3>number</h3>
            </div>
            <div id="heading-4">
                <h3>VROOM</h3>
                <h3>number</h3>
            </div>
        </div>

    </div>
    <div id="item-1">
        SVG HERE
    </div>
    <div id="item-2">
        <div class="middle-grid">
            <div id="middle-0">
                <p>LEFt</p>
            </div>
            <div id="middle-1">
                <p>MIDDLE</p>
            </div>
            <div id="middle-2">
                <p>RIGHT</p>
            </div>
        </div>
    </div>
    <div id="item-3">GRID</div>
</div>